<div id="shariff" class="shariff" data-theme="grey" data-orientation="horizontal"></div>

<script type="text/javascript">
    (function() {
        var shariff = document.createElement('script'); shariff.type = 'text/javascript'; shariff.async = true;
        shariff.src = '/assets/js/shariff.min.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(shariff);
    })(); 
</script>

<!DOCTYPE html>
<head>
    <link href="@Context.GetLink("/assets/css/shariff.min.css")" rel="stylesheet" />
</head>